# Project 4: West Nile Virus in the City of Chicago

Michael Schillawski, 9 March 2018

Data Science Immersive, General Assembly

## Setup

### Import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import datetime

% matplotlib inline

### Gather Data

In [ ]:
#os.chdir('..')

In [2]:
path = os.getcwd()
path = path + '/assets/input'
os.chdir(path)

In [3]:
ls

mapdata_copyright_openstreetmap_contributors.rds
mapdata_copyright_openstreetmap_contributors.txt
noaa_weather_qclcd_documentation.pdf
sampleSubmission.csv
spray.csv
test.csv
train.csv
weather.csv

In [4]:
train = pd.read_csv('train.csv')
spray = pd.read_csv('spray.csv')
weather = pd.read_csv('weather.csv')
#test = pd.read_csv('test.csv')

## Data Cleaning

### Formatting & DeDuping

In [5]:
def DataInspect(dataframe):
    '''Original function (previously called eda) created by Ritika Bhasker
       Good first step when starting any project. Provides overview of
       dataset including missing values, duplicates and types.
       Takes a Pandas dataframe as the argument.
       Modified by Michael Schillawski based on his preferences.'''
    print("Dataframe Shape:", dataframe.shape,"\n")
    print("Duplicate Rows:", dataframe.duplicated().sum(),"\n") #Added this
    print("Dataframe Types \n\n", dataframe.dtypes,"\n")    
    print("Missing Values \n\n", dataframe.isnull().sum(),"\n")
    print("Dataframe Describe \n\n", dataframe.describe(include='all'),"\n")


    print('Unique Values by Variable')
    for item in dataframe:
        print(item,':',dataframe[item].nunique())

In [6]:
train['Date'] = pd.to_datetime(train['Date'])
spray['Date'] = pd.to_datetime(spray['Date'])
weather['Date'] = pd.to_datetime(weather['Date'])
#test['Date'] = pd.to_datetime(test['Date'])

In [7]:
DataInspect(train)

Dataframe Shape: (10506, 12)

Duplicate Rows: 813

Dataframe Types

 Date                      datetime64[ns]
Address                           object
Species                           object
Block                              int64
Street                            object
Trap                              object
AddressNumberAndStreet            object
Latitude                         float64
Longitude                        float64
AddressAccuracy                    int64
NumMosquitos                       int64
WnvPresent                         int64
dtype: object

Missing Values

 Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
dtype: int64

Dataframe Describe

                        Date  \
count                 10506
unique                   95
top     2007-08-01 00:00:00
freq                    551
first   2007-05-29 00:00:00
last    2013-09-26 00:00:00
mean                    NaN
std                     NaN
min                     NaN
25%                     NaN
50%                     NaN
75%                     NaN
max                     NaN

                                                  Address  \
count                                               10506
unique                                                138
top     ORD Terminal 5, O'Hare International Airport, ...
freq                                                  750
first                                                 NaN
last                                                  NaN
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                       Species         Block            Street   Trap  \
count                    10506  10506.000000             10506  10506
unique                       7           NaN               128    136
top     CULEX PIPIENS/RESTUANS           NaN   W OHARE AIRPORT   T900
freq                      4752           NaN               750    750
first                      NaN           NaN               NaN    NaN
last                       NaN           NaN               NaN    NaN
mean                       NaN     35.687797               NaN    NaN
std                        NaN     24.339468               NaN    NaN
min                        NaN     10.000000               NaN    NaN
25%                        NaN     12.000000               NaN    NaN
50%                        NaN     33.000000               NaN    NaN
75%                        NaN     52.000000               NaN    NaN
max                        NaN     98.000000               NaN    NaN

                    AddressNumberAndStreet      Latitude     Longitude  \
count                                10506  10506.000000  10506.000000
unique                                 138           NaN           NaN
top     1000  W OHARE AIRPORT, Chicago, IL           NaN           NaN
freq                                   750           NaN           NaN
first                                  NaN           NaN           NaN
last                                   NaN           NaN           NaN
mean                                   NaN     41.841139    -87.699908
std                                    NaN      0.112742      0.096514
min                                    NaN     41.644612    -87.930995
25%                                    NaN     41.732984    -87.760070
50%                                    NaN     41.846283    -87.694991
75%                                    NaN     41.954690    -87.627796
max                                    NaN     42.017430    -87.531635

        AddressAccuracy  NumMosquitos    WnvPresent
count      10506.000000  10506.000000  10506.000000
unique              NaN           NaN           NaN
top                 NaN           NaN           NaN
freq                NaN           NaN           NaN
first               NaN           NaN           NaN
last                NaN           NaN           NaN
mean           7.819532     12.853512      0.052446
std            1.452921     16.133816      0.222936
min            3.000000      1.000000      0.000000
25%            8.000000      2.000000      0.000000
50%            8.000000      5.000000      0.000000
75%            9.000000     17.000000      0.000000
max            9.000000     50.000000      1.000000

Unique Values by Variable
Date : 95
Address : 138
Species : 7
Block : 64
Street : 128
Trap : 136
AddressNumberAndStreet : 138
Latitude : 138
Longitude : 138
AddressAccuracy : 4
NumMosquitos : 50
WnvPresent : 2

In [13]:
train[train.duplicated(keep=False)]

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
98,2007-06-26,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0
99,2007-06-26,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0
293,2007-07-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,50,0
295,2007-07-11,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,50,0
350,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0
351,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0
353,2007-07-11,"3500 West 116th Street, Chicago, IL 60655, USA",CULEX PIPIENS/RESTUANS,35,W 116TH ST,T158,"3500 W 116TH ST, Chicago, IL",41.682587,-87.707973,9,50,0
511,2007-07-18,"3300 West Randolph Street, Chicago, IL 60612, USA",CULEX RESTUANS,33,E RANDOLPH ST,T044,"3300 E RANDOLPH ST, Chicago, IL",41.883284,-87.705085,8,1,0
512,2007-07-18,"3300 West Randolph Street, Chicago, IL 60612, USA",CULEX RESTUANS,33,E RANDOLPH ST,T044,"3300 E RANDOLPH ST, Chicago, IL",41.883284,-87.705085,8,1,0
530,2007-07-18,"South Stony Island Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S STONY ISLAND AVE,T138,"1000 S STONY ISLAND AVE, Chicago, IL",41.726465,-87.585413,5,50,0
531,2007-07-18,"South Stony Island Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S STONY ISLAND AVE,T138,"1000 S STONY ISLAND AVE, Chicago, IL",41.726465,-87.585413,5,50,0
547,2007-07-18,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
548,2007-07-18,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
586,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
587,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
588,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
589,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
590,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
591,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
593,2007-07-19,"3700 118th Street, Chicago, IL 60617, USA",CULEX PIPIENS/RESTUANS,37,E 118TH ST,T212,"3700 E 118TH ST, Chicago, IL",41.680946,-87.535198,8,50,0
601,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0
602,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0
603,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,1
604,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0
605,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0
606,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0
607,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0
608,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0
609,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,0
611,2007-07-25,"South Doty Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,12,S DOTY AVE,T115,"1200 S DOTY AVE, Chicago, IL",41.673408,-87.599862,5,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9315,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
9318,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
9319,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
9323,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
9324,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0
9327,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0
9329,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
9330,2013-08-01,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0
9676,2013-08-15,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,3,0
9678,2013-08-15,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,3,0
9901,2013-08-29,"University of Illinois at Chicago, 1100 South ...",CULEX PIPIENS/RESTUANS,11,S ASHLAND AVE,T090,"1100 S ASHLAND AVE, Chicago, IL",41.868077,-87.666901,9,50,0
9902,2013-08-29,"University of Illinois at Chicago, 1100 South ...",CULEX PIPIENS/RESTUANS,11,S ASHLAND AVE,T090,"1100 S ASHLAND AVE, Chicago, IL",41.868077,-87.666901,9,50,0
9968,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0
9969,2013-08-29,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX PIPIENS/RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,50,0
9973,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
9974,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0
9975,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
9976,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0
9988,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
9992,2013-08-29,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
10011,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1
10013,2013-08-29,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,50,1
10101,2013-09-06,"3700 South Pulaski Road, Chicago, IL 60623, USA",CULEX PIPIENS,37,S PULASKI RD,T063,"3700 S PULASKI RD, Chicago, IL",41.825610,-87.726549,9,9,0
10102,2013-09-06,"3700 South Pulaski Road, Chicago, IL 60623, USA",CULEX PIPIENS,37,S PULASKI RD,T063,"3700 S PULASKI RD, Chicago, IL",41.825610,-87.726549,9,9,0
10122,2013-09-06,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
10124,2013-09-06,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,1
10259,2013-09-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0
10262,2013-09-12,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,50,0
10391,2013-09-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,13,0
10392,2013-09-19,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,13,0

In [8]:
DataInspect(spray)

Dataframe Shape: (14835, 4)

Duplicate Rows: 541

Dataframe Types

 Date         datetime64[ns]
Time                 object
Latitude            float64
Longitude           float64
dtype: object

Missing Values

 Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

Dataframe Describe

                        Date        Time      Latitude     Longitude
count                 14835       14251  14835.000000  14835.000000
unique                   10        8583           NaN           NaN
top     2013-08-15 00:00:00  7:44:32 PM           NaN           NaN
freq                   2668         541           NaN           NaN
first   2011-08-29 00:00:00         NaN           NaN           NaN
last    2013-09-05 00:00:00         NaN           NaN           NaN
mean                    NaN         NaN     41.904828    -87.736690
std                     NaN         NaN      0.104381      0.067292
min                     NaN         NaN     41.713925    -88.096468
25%                     NaN         NaN     41.785001    -87.794225
50%                     NaN         NaN     41.940075    -87.727853
75%                     NaN         NaN     41.980978    -87.694108
max                     NaN         NaN     42.395983    -87.586727

Unique Values by Variable
Date : 10
Time : 8583
Latitude : 12887
Longitude : 13007

In [14]:
spray[spray.duplicated(keep=False)]

           Date        Time   Latitude  Longitude
484  2011-09-07  7:43:40 PM  41.983917 -87.793088
485  2011-09-07  7:43:40 PM  41.983917 -87.793088
489  2011-09-07  7:44:32 PM  41.986460 -87.794225
490  2011-09-07  7:44:32 PM  41.986460 -87.794225
491  2011-09-07  7:44:32 PM  41.986460 -87.794225
492  2011-09-07  7:44:32 PM  41.986460 -87.794225
493  2011-09-07  7:44:32 PM  41.986460 -87.794225
494  2011-09-07  7:44:32 PM  41.986460 -87.794225
495  2011-09-07  7:44:32 PM  41.986460 -87.794225
496  2011-09-07  7:44:32 PM  41.986460 -87.794225
497  2011-09-07  7:44:32 PM  41.986460 -87.794225
498  2011-09-07  7:44:32 PM  41.986460 -87.794225
499  2011-09-07  7:44:32 PM  41.986460 -87.794225
500  2011-09-07  7:44:32 PM  41.986460 -87.794225
501  2011-09-07  7:44:32 PM  41.986460 -87.794225
502  2011-09-07  7:44:32 PM  41.986460 -87.794225
503  2011-09-07  7:44:32 PM  41.986460 -87.794225
504  2011-09-07  7:44:32 PM  41.986460 -87.794225
505  2011-09-07  7:44:32 PM  41.986460 -87.794225
506  2011-09-07  7:44:32 PM  41.986460 -87.794225
507  2011-09-07  7:44:32 PM  41.986460 -87.794225
508  2011-09-07  7:44:32 PM  41.986460 -87.794225
509  2011-09-07  7:44:32 PM  41.986460 -87.794225
510  2011-09-07  7:44:32 PM  41.986460 -87.794225
511  2011-09-07  7:44:32 PM  41.986460 -87.794225
512  2011-09-07  7:44:32 PM  41.986460 -87.794225
513  2011-09-07  7:44:32 PM  41.986460 -87.794225
514  2011-09-07  7:44:32 PM  41.986460 -87.794225
515  2011-09-07  7:44:32 PM  41.986460 -87.794225
516  2011-09-07  7:44:32 PM  41.986460 -87.794225
...         ...         ...        ...        ...
1000 2011-09-07  7:44:32 PM  41.986460 -87.794225
1001 2011-09-07  7:44:32 PM  41.986460 -87.794225
1002 2011-09-07  7:44:32 PM  41.986460 -87.794225
1003 2011-09-07  7:44:32 PM  41.986460 -87.794225
1004 2011-09-07  7:44:32 PM  41.986460 -87.794225
1005 2011-09-07  7:44:32 PM  41.986460 -87.794225
1006 2011-09-07  7:44:32 PM  41.986460 -87.794225
1007 2011-09-07  7:44:32 PM  41.986460 -87.794225
1008 2011-09-07  7:44:32 PM  41.986460 -87.794225
1009 2011-09-07  7:44:32 PM  41.986460 -87.794225
1010 2011-09-07  7:44:32 PM  41.986460 -87.794225
1011 2011-09-07  7:44:32 PM  41.986460 -87.794225
1012 2011-09-07  7:44:32 PM  41.986460 -87.794225
1013 2011-09-07  7:44:32 PM  41.986460 -87.794225
1014 2011-09-07  7:44:32 PM  41.986460 -87.794225
1015 2011-09-07  7:44:32 PM  41.986460 -87.794225
1016 2011-09-07  7:44:32 PM  41.986460 -87.794225
1017 2011-09-07  7:44:32 PM  41.986460 -87.794225
1018 2011-09-07  7:44:32 PM  41.986460 -87.794225
1019 2011-09-07  7:44:32 PM  41.986460 -87.794225
1020 2011-09-07  7:44:32 PM  41.986460 -87.794225
1021 2011-09-07  7:44:32 PM  41.986460 -87.794225
1022 2011-09-07  7:44:32 PM  41.986460 -87.794225
1023 2011-09-07  7:44:32 PM  41.986460 -87.794225
1024 2011-09-07  7:44:32 PM  41.986460 -87.794225
1025 2011-09-07  7:44:32 PM  41.986460 -87.794225
1026 2011-09-07  7:44:32 PM  41.986460 -87.794225
1027 2011-09-07  7:44:32 PM  41.986460 -87.794225
1028 2011-09-07  7:44:32 PM  41.986460 -87.794225
1029 2011-09-07  7:44:32 PM  41.986460 -87.794225

[543 rows x 4 columns]

In [9]:
DataInspect(weather)

Dataframe Shape: (2944, 22)

Duplicate Rows: 0

Dataframe Types

 Station                 int64
Date           datetime64[ns]
Tmax                    int64
Tmin                    int64
Tavg                   object
Depart                 object
DewPoint                int64
WetBulb                object
Heat                   object
Cool                   object
Sunrise                object
Sunset                 object
CodeSum                object
Depth                  object
Water1                 object
SnowFall               object
PrecipTotal            object
StnPressure            object
SeaLevel               object
ResultSpeed           float64
ResultDir               int64
AvgSpeed               object
dtype: object

Missing Values

 Station        0
Date           0
Tmax           0
Tmin           0
Tavg           0
Depart         0
DewPoint       0
WetBulb        0
Heat           0
Cool           0
Sunrise        0
Sunset         0
CodeSum        0
Depth          0
Water1         0
SnowFall       0
PrecipTotal    0
StnPressure    0
SeaLevel       0
ResultSpeed    0
ResultDir      0
AvgSpeed       0
dtype: int64

Dataframe Describe

             Station                 Date         Tmax         Tmin  Tavg  \
count   2944.000000                 2944  2944.000000  2944.000000  2944
unique          NaN                 1472          NaN          NaN    60
top             NaN  2014-08-27 00:00:00          NaN          NaN    73
freq            NaN                    2          NaN          NaN   138
first           NaN  2007-05-01 00:00:00          NaN          NaN   NaN
last            NaN  2014-10-31 00:00:00          NaN          NaN   NaN
mean       1.500000                  NaN    76.166101    57.810462   NaN
std        0.500085                  NaN    11.461970    10.381939   NaN
min        1.000000                  NaN    41.000000    29.000000   NaN
25%        1.000000                  NaN    69.000000    50.000000   NaN
50%        1.500000                  NaN    78.000000    59.000000   NaN
75%        2.000000                  NaN    85.000000    66.000000   NaN
max        2.000000                  NaN   104.000000    83.000000   NaN

       Depart     DewPoint WetBulb  Heat  Cool    ...    CodeSum Depth Water1  \
count    2944  2944.000000    2944  2944  2944    ...       2944  2944   2944
unique     42          NaN      48    31    31    ...         98     2      1
top         M          NaN      63     0     0    ...                M      M
freq     1472          NaN     135  1870  1147    ...       1609  1472   2944
first     NaN          NaN     NaN   NaN   NaN    ...        NaN   NaN    NaN
last      NaN          NaN     NaN   NaN   NaN    ...        NaN   NaN    NaN
mean      NaN    53.457880     NaN   NaN   NaN    ...        NaN   NaN    NaN
std       NaN    10.675181     NaN   NaN   NaN    ...        NaN   NaN    NaN
min       NaN    22.000000     NaN   NaN   NaN    ...        NaN   NaN    NaN
25%       NaN    46.000000     NaN   NaN   NaN    ...        NaN   NaN    NaN
50%       NaN    54.000000     NaN   NaN   NaN    ...        NaN   NaN    NaN
75%       NaN    62.000000     NaN   NaN   NaN    ...        NaN   NaN    NaN
max       NaN    75.000000     NaN   NaN   NaN    ...        NaN   NaN    NaN

       SnowFall PrecipTotal StnPressure SeaLevel  ResultSpeed    ResultDir  \
count      2944        2944        2944     2944  2944.000000  2944.000000
unique        4         168         104      102          NaN          NaN
top           M        0.00       29.34    30.00          NaN          NaN
freq       1472        1577         128       96          NaN          NaN
first       NaN         NaN         NaN      NaN          NaN          NaN
last        NaN         NaN         NaN      NaN          NaN          NaN
mean        NaN         NaN         NaN      NaN     6.960666    17.494905
std         NaN         NaN         NaN      NaN     3.587527    10.063609
min         NaN         NaN         NaN      NaN     0.100000     1.000000
25%         NaN         NaN         NaN      NaN     4.300000     7.000000
50%         NaN         NaN         NaN      NaN     6.400000    19.000000
75%         NaN         NaN         NaN      NaN     9.200000    25.000000
max         NaN         NaN         NaN      NaN    24.100000    36.000000

        AvgSpeed
count       2944
unique       178
top          6.9
freq          63
first        NaN
last         NaN
mean         NaN
std          NaN
min          NaN
25%          NaN
50%          NaN
75%          NaN
max          NaN

[13 rows x 22 columns]

Unique Values by Variable
Station : 2
Date : 1472
Tmax : 63
Tmin : 54
Tavg : 60
Depart : 42
DewPoint : 54
WetBulb : 48
Heat : 31
Cool : 31
Sunrise : 122
Sunset : 119
CodeSum : 98
Depth : 2
Water1 : 1
SnowFall : 4
PrecipTotal : 168
StnPressure : 104
SeaLevel : 102
ResultSpeed : 190
ResultDir : 36
AvgSpeed : 178

In [15]:
print(len(train))
print(len(spray))
print(len(weather))

10506
14835
2944

In [16]:
spray['Date'].describe()

count                   14835
unique                     10
top       2013-08-15 00:00:00
freq                     2668
first     2011-08-29 00:00:00
last      2013-09-05 00:00:00
Name: Date, dtype: object

In [17]:
train['Date'].describe()

count                   10506
unique                     95
top       2007-08-01 00:00:00
freq                      551
first     2007-05-29 00:00:00
last      2013-09-26 00:00:00
Name: Date, dtype: object

In [19]:
weather['Date'].describe()

count                    2944
unique                   1472
top       2014-08-27 00:00:00
freq                        2
first     2007-05-01 00:00:00
last      2014-10-31 00:00:00
Name: Date, dtype: object

In [20]:
train.head(3)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0

## EDA

### Join Weather Data to Trap Data

In [22]:
train.head(2)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.95469,-87.800991,9,1,0

In [44]:
print(len(train),len(weather))

10506 2944

In [49]:
weather.columns

Index(['Station', 'Date', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint',
       'WetBulb', 'Heat', 'Cool', 'Sunrise', 'Sunset', 'CodeSum', 'Depth',
       'Water1', 'SnowFall', 'PrecipTotal', 'StnPressure', 'SeaLevel',
       'ResultSpeed', 'ResultDir', 'AvgSpeed'],
      dtype='object')

In [79]:
station1 = weather[weather['Station']==1].copy()
station2 = weather[weather['Station']==2].copy()


#Station 1: CHICAGO O'HARE INTERNATIONAL AIRPORT Lat: 41.995 Lon: -87.933 Elev: 662 ft. above sea level
station1['Latitude'] = 41.995
station1['Longitude'] = -87.9336

#Station 2: CHICAGO MIDWAY INTL ARPT Lat: 41.786 Lon: -87.752 Elev: 612 ft. above sea level
station2['Latitude'] = 41.78611
station2['Longitude'] = -87.75222

In [80]:
stations = pd.merge(station1,station2,on='Date',suffixes=('_s1','_s2'))
traps_weather = pd.merge(train,stations,on='Date')

In [81]:
DataInspect(traps_weather)

Dataframe Shape: (10506, 58)

Duplicate Rows: 813

Dataframe Types

 Date                      datetime64[ns]
Address                           object
Species                           object
Block                              int64
Street                            object
Trap                              object
AddressNumberAndStreet            object
Latitude                         float64
Longitude                        float64
AddressAccuracy                    int64
NumMosquitos                       int64
WnvPresent                         int64
Station_s1                         int64
Tmax_s1                            int64
Tmin_s1                            int64
Tavg_s1                           object
Depart_s1                         object
DewPoint_s1                        int64
WetBulb_s1                        object
Heat_s1                           object
Cool_s1                           object
Sunrise_s1                        object
Sunset_s1                         object
CodeSum_s1                        object
Depth_s1                          object
Water1_s1                         object
SnowFall_s1                       object
PrecipTotal_s1                    object
StnPressure_s1                    object
SeaLevel_s1                       object
ResultSpeed_s1                   float64
ResultDir_s1                       int64
AvgSpeed_s1                       object
Latitude_s1                      float64
Longitude_s1                     float64
Station_s2                         int64
Tmax_s2                            int64
Tmin_s2                            int64
Tavg_s2                           object
Depart_s2                         object
DewPoint_s2                        int64
WetBulb_s2                        object
Heat_s2                           object
Cool_s2                           object
Sunrise_s2                        object
Sunset_s2                         object
CodeSum_s2                        object
Depth_s2                          object
Water1_s2                         object
SnowFall_s2                       object
PrecipTotal_s2                    object
StnPressure_s2                    object
SeaLevel_s2                       object
ResultSpeed_s2                   float64
ResultDir_s2                       int64
AvgSpeed_s2                       object
Latitude_s2                      float64
Longitude_s2                     float64
dtype: object

Missing Values

 Date                      0
Address                   0
Species                   0
Block                     0
Street                    0
Trap                      0
AddressNumberAndStreet    0
Latitude                  0
Longitude                 0
AddressAccuracy           0
NumMosquitos              0
WnvPresent                0
Station_s1                0
Tmax_s1                   0
Tmin_s1                   0
Tavg_s1                   0
Depart_s1                 0
DewPoint_s1               0
WetBulb_s1                0
Heat_s1                   0
Cool_s1                   0
Sunrise_s1                0
Sunset_s1                 0
CodeSum_s1                0
Depth_s1                  0
Water1_s1                 0
SnowFall_s1               0
PrecipTotal_s1            0
StnPressure_s1            0
SeaLevel_s1               0
ResultSpeed_s1            0
ResultDir_s1              0
AvgSpeed_s1               0
Latitude_s1               0
Longitude_s1              0
Station_s2                0
Tmax_s2                   0
Tmin_s2                   0
Tavg_s2                   0
Depart_s2                 0
DewPoint_s2               0
WetBulb_s2                0
Heat_s2                   0
Cool_s2                   0
Sunrise_s2                0
Sunset_s2                 0
CodeSum_s2                0
Depth_s2                  0
Water1_s2                 0
SnowFall_s2               0
PrecipTotal_s2            0
StnPressure_s2            0
SeaLevel_s2               0
ResultSpeed_s2            0
ResultDir_s2              0
AvgSpeed_s2               0
Latitude_s2               0
Longitude_s2              0
dtype: int64

Dataframe Describe

                        Date  \
count                 10506
unique                   95
top     2007-08-01 00:00:00
freq                    551
first   2007-05-29 00:00:00
last    2013-09-26 00:00:00
mean                    NaN
std                     NaN
min                     NaN
25%                     NaN
50%                     NaN
75%                     NaN
max                     NaN

                                                  Address  \
count                                               10506
unique                                                138
top     ORD Terminal 5, O'Hare International Airport, ...
freq                                                  750
first                                                 NaN
last                                                  NaN
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                       Species         Block            Street   Trap  \
count                    10506  10506.000000             10506  10506
unique                       7           NaN               128    136
top     CULEX PIPIENS/RESTUANS           NaN   W OHARE AIRPORT   T900
freq                      4752           NaN               750    750
first                      NaN           NaN               NaN    NaN
last                       NaN           NaN               NaN    NaN
mean                       NaN     35.687797               NaN    NaN
std                        NaN     24.339468               NaN    NaN
min                        NaN     10.000000               NaN    NaN
25%                        NaN     12.000000               NaN    NaN
50%                        NaN     33.000000               NaN    NaN
75%                        NaN     52.000000               NaN    NaN
max                        NaN     98.000000               NaN    NaN

                    AddressNumberAndStreet      Latitude     Longitude  \
count                                10506  10506.000000  10506.000000
unique                                 138           NaN           NaN
top     1000  W OHARE AIRPORT, Chicago, IL           NaN           NaN
freq                                   750           NaN           NaN
first                                  NaN           NaN           NaN
last                                   NaN           NaN           NaN
mean                                   NaN     41.841139    -87.699908
std                                    NaN      0.112742      0.096514
min                                    NaN     41.644612    -87.930995
25%                                    NaN     41.732984    -87.760070
50%                                    NaN     41.846283    -87.694991
75%                                    NaN     41.954690    -87.627796
max                                    NaN     42.017430    -87.531635

        AddressAccuracy      ...       Water1_s2  SnowFall_s2  PrecipTotal_s2  \
count      10506.000000      ...           10506        10506           10506
unique              NaN      ...               1            1              29
top                 NaN      ...               M            M            0.00
freq                NaN      ...           10506        10506            5808
first               NaN      ...             NaN          NaN             NaN
last                NaN      ...             NaN          NaN             NaN
mean           7.819532      ...             NaN          NaN             NaN
std            1.452921      ...             NaN          NaN             NaN
min            3.000000      ...             NaN          NaN             NaN
25%            8.000000      ...             NaN          NaN             NaN
50%            8.000000      ...             NaN          NaN             NaN
75%            9.000000      ...             NaN          NaN             NaN
max            9.000000      ...             NaN          NaN             NaN

        StnPressure_s2  SeaLevel_s2 ResultSpeed_s2  ResultDir_s2  AvgSpeed_s2  \
count            10506        10506   10506.000000  10506.000000        10506
unique              42           42            NaN           NaN           59
top              29.34        29.98            NaN           NaN          3.7
freq              1360          838            NaN           NaN          671
first              NaN          NaN            NaN           NaN          NaN
last               NaN          NaN            NaN           NaN          NaN
mean               NaN          NaN       5.905854     17.758709          NaN
std                NaN          NaN       2.925563      9.041969          NaN
min                NaN          NaN       1.100000      1.000000          NaN
25%                NaN          NaN       4.100000     10.000000          NaN
50%                NaN          NaN       5.500000     19.000000          NaN
75%                NaN          NaN       7.800000     24.000000          NaN
max                NaN          NaN      15.400000     36.000000          NaN

         Latitude_s2  Longitude_s2
count   1.050600e+04  1.050600e+04
unique           NaN           NaN
top              NaN           NaN
freq             NaN           NaN
first            NaN           NaN
last             NaN           NaN
mean    4.178611e+01 -8.775222e+01
std     9.344082e-12  1.610166e-11
min     4.178611e+01 -8.775222e+01
25%     4.178611e+01 -8.775222e+01
50%     4.178611e+01 -8.775222e+01
75%     4.178611e+01 -8.775222e+01
max     4.178611e+01 -8.775222e+01

[13 rows x 58 columns]

Unique Values by Variable
Date : 95
Address : 138
Species : 7
Block : 64
Street : 128
Trap : 136
AddressNumberAndStreet : 138
Latitude : 138
Longitude : 138
AddressAccuracy : 4
NumMosquitos : 50
WnvPresent : 2
Station_s1 : 1
Tmax_s1 : 33
Tmin_s1 : 33
Tavg_s1 : 31
Depart_s1 : 28
DewPoint_s1 : 32
WetBulb_s1 : 31
Heat_s1 : 14
Cool_s1 : 18
Sunrise_s1 : 62
Sunset_s1 : 58
CodeSum_s1 : 19
Depth_s1 : 1
Water1_s1 : 1
SnowFall_s1 : 2
PrecipTotal_s1 : 31
StnPressure_s1 : 38
SeaLevel_s1 : 41
ResultSpeed_s1 : 62
ResultDir_s1 : 34
AvgSpeed_s1 : 61
Latitude_s1 : 1
Longitude_s1 : 1
Station_s2 : 1
Tmax_s2 : 33
Tmin_s2 : 29
Tavg_s2 : 32
Depart_s2 : 1
DewPoint_s2 : 31
WetBulb_s2 : 29
Heat_s2 : 11
Cool_s2 : 22
Sunrise_s2 : 1
Sunset_s2 : 1
CodeSum_s2 : 22
Depth_s2 : 1
Water1_s2 : 1
SnowFall_s2 : 1
PrecipTotal_s2 : 29
StnPressure_s2 : 42
SeaLevel_s2 : 42
ResultSpeed_s2 : 61
ResultDir_s2 : 32
AvgSpeed_s2 : 59
Latitude_s2 : 1
Longitude_s2 : 1

### Calculate point estimates of weather data at trap location

In [104]:
# calculate distance of traps to weather stations
dist_1 = np.sqrt(((traps_weather['Latitude'] - traps_weather['Latitude_s1'])**2 + 
 (traps_weather['Longitude'] - traps_weather['Longitude_s1'])**2))

dist_2 = np.sqrt(((traps_weather['Latitude'] - traps_weather['Latitude_s2'])**2 + 
 (traps_weather['Longitude'] - traps_weather['Longitude_s2'])**2))

# calculate distance weights to each trap
# to weight the weather data by proximity
total_dist = dist_1 + dist_2
traps_weather['weight_1'] = dist_1 / total_dist
traps_weather['weight_2'] = dist_2 / total_dist

In [114]:
# Apply distance weights to weather data
# weight along the gradient
station1_list = [col for col in traps_weather.columns 
                if '_s1' in col and col not in ('Station_s1','Latitude_s1','Longitude_s1')]
station2_list = [col for col in traps_weather.columns 
                 if '_s2' in col and col not in ('Station_s2','Latitude_s2','Longitude_s2')]

for col in station1_list:
    traps_weather[col] = traps_weather['weight_1'] * traps_weather[col]
for col in station2_list:
    traps_weather[col] = traps_weather['weight_2'] * traps_weather[col]

In [120]:
for col in [col for col in traps_weather.columns 
            if 's1' in col and col not in ('Station_s1','Latitude_s1','Longitude_s1')]:
    name = col.replace('_s1','')
    traps_weather[name] = traps_weather[col] + traps_weather[name+'_s2']

### Spraying Data

In [144]:
len(spray)

14835

In [145]:
spray.head(3)

        Date        Time   Latitude  Longitude
0 2011-08-29  6:56:58 PM  42.391623 -88.089163
1 2011-08-29  6:57:08 PM  42.391348 -88.089163
2 2011-08-29  6:57:18 PM  42.391022 -88.089157

In [219]:
# the idea here is that the targeted intervention has an effect that decays in two dimensions, time and distance
# the reference location that we care about is the trap
# so we evaluate spraying by how far the trap is from the where the spraying occurs AND
# we evaluate how long before the trap observation did the spraying occur
# so we calculate the deltas for every spraying against every trap
# if spraying occurred after the observation, we zero out these observations

# should we cross-multiply the distance and time? spraying that is 
# close in both time and distance should be privileged

distance = []
time = []

for i in traps_weather.index:
    temp_lat = traps_weather.at[i,'Latitude']
    temp_long = traps_weather.at[i,'Longitude']

    # calculate distance from traps to spray locations
    dist = np.sqrt((spray['Latitude'] - temp_lat)**2 + (spray['Longitude'] - temp_long)**2)
    distance.append(dist)

    # calculate time since spray
    time_since_spray = traps_weather.at[i,'Date'] - spray['Date']
    time.append(time_since_spray)

distance = pd.DataFrame(distance)
time = pd.DataFrame(time)

time.reset_index(inplace=True)
time.drop('index',axis=1,inplace=True)

In [ ]:
for col in time.columns:
    time[col] = time[col].apply(lambda x: x.total_seconds())
    time[col] = time[col].apply(lambda x: (((x/60)/60)/24))

In [ ]:
time.head()

In [196]:
data = pd.merge(distance,time,how='inner',left_index=True,right_index=True,suffixes=('_d','_t'))
data.shape

### Outcome variable(s)

In [ ]:
# trim dataset
# drop string geographic variables, info encoded in lat/long
# drop _s1/_s2 weather variables --> stored after weighted average across distances

In [ ]:
from sklearn.model_selection import train_test_split

X = data.drop('WnvPresent',axis=1)
Y = data[['WnvPresent']]

X_train,X_test,y_train,y_test = train_test_split()

## Modeling

We need to predict when, where, and among which species West Nile Virus will occur
In which traps will we observe West Nile Virus?

How to define outcome variable?

Outcome: WNV 1/0

Variable selection:
- weather
- spray
- species
- location-based

In [ ]:
### Logistic Regression

In [ ]:
### KNN

In [ ]:
### Random Forest

In [ ]:
### ExtraTrees

In [ ]:
### Adaboost

In [ ]:
### Gradient Boosting